{
    "token" : "your token",
	"youtube_api_key" : "https://console.developers.google.com/start",
	"defaultChannels" : {
		"ServerName" : "default voice channel",
		"ServerName" : "default voice channel",
		"ServerName" : "default voice channel"
	},
	"timeOptions" : {
		"timeZone": "Your timezone in IANA time zone format For ex. 'America/Los_Angeles' (PST), 
		'America/Denver' (MST), 'America/Chicago' (CST), 'America/New_York' (EST)", 
		"timeZoneName": "short"
	}
}